<% flash.each do |type, msg| %>
  <div class="alert alert-success">
    <%= msg %>
  </div>
<% end %>


<h1 class="text-center" >Gossip Page</h1>
<div class="container text-center">
  <button type="button" class="btn btn-link"><%= link_to 'Create Gossip', new_gossip_path %></button>
</div>
<div class="container text-center">
  <div class="row row-cols-4">
    <% Gossip.all.each do |gossip|%>

      <div class="col card text-white bg-info mb-3 mr-3" style="max-width: 18rem;">
        <div class="card-header">By: <%= gossip.user.first_name %></div>
        <div class="card-body">
          <h5 class="card-title"><%= gossip.title %></h5>
          <p class="card-text"><%= link_to 'See more', gossip_path(gossip.id) %></p>
          <p class="card-text">Comments: <%= Comment.where(gossip_id: gossip.id).all.count%></p>
          <p class="card-text">Tags: <%= TagOfGossip.where(gossip_id: gossip.id).all.count%></p>
        </div>
      </div>

    <% end %>
  </div>
</div>
