<% flash.each do |type, msg| %>
  <div class="alert alert-success">
    <%= msg %>
  </div>
<% end %>


<h1>Gossip</h1>

<div>
  <h2><%= @gossip.title %></h2>
  <h5>By: <%= link_to "#{@gossip.user.first_name}", user_path(@gossip.user.id) %></h5>
  <h5>From: <%= link_to "#{@gossip.user.city.name}", city_path(@gossip.user.city.id) %></h5>
  <p><%= @gossip.content %></p>
  <br />
<div class="tags container">
  <h3>Tags</h3>
  <%= @tags.each do |tag|%>
  <div class="card mb-3 mr-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-text"><%= tag %></h5>
    </div>
  </div>

  <% end %>
</div>

<br />
  <%= link_to 'Edit', edit_gossip_path(@gossip.id) %>
  </br>
  <%= link_to 'Destroy', gossip_path(@gossip.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>


<div class="comments">
<h1>Comment</h1>


  <div>
    <%= form_with url:"/gossips/#{@gossip.id}/comments" , method: 'post' do %>

      <br />
      <%= text_area_tag 'content', 'content' %>
      <br /> <br />

      <%= submit_tag 'Comment' %>

    <% end %>
  </div>

</div>

<h2>Comments:</h2>
<div class="container">
  <% gossip_comments = [] %>
  <% Comment.all.each do |comment| %>
    <% if comment.gossip_id == @gossip.id %>
      <% gossip_comments << comment %>
    <% end %>
  <% end %>
  <% gossip_comments.each do |comment|%>
    <div class="card mb-3 mr-3" style="max-width: 18rem;">
      <div class="card-body">
        <div class="card-subtitle mb-2 text-muted">By: <%= link_to "#{comment.user.first_name}", user_path(comment.user.id)%></div>
        <h5 class="card-text"><%= comment.content %></h5>
          <%= link_to 'Edit', edit_gossip_comment_path(@gossip.id, comment.id), class: 'card-link' %>
      </div>
    </div>
  <% end %>
</div>
